html{
  background-color: rgb(49, 49, 49);
  color: white;
}

:root{
  --spotify-green:	#1DB954;
  --spotify-green-hover:#16873e;
}
.profile{

  background-color: rgb(49, 49, 49);
  color: white;
}

.artist-wrapper{
  margin-top: 5em;
}

.artist-info{
  margin-top: 2em;
  display: flex;
}
.artist-text{
  margin-left: 1.5em;
}

.artist-name{
  font-size: 24px;
}
.welcome-banner{
  margin-left: 1.5em;
}

label.time-btn.btn.btn-primary {
  background-color: var(--spotify-green);
  color: white;
  border-color: var(--spotify-green);
}

label.time-btn.btn.btn-primary.active {
  background-color: darkgreen;
  color: white;
  border-color: darkgreen;
}

label.time-btn.btn.btn-primary:hover {
  background-color: var(--spotify-green-hover);
  color: white;
  border-color: var(--spotify-green-hover);
}
